<div style="margin: 40px;" class="card text-center">
    <div style="background-color: lightsalmon;" class="card-header">
      <h1>Calculadora</h1>
    </div>
    <div class="card-body">
        <label for="numero"> <b>Numero:</b></label>
        <input type="numer" [(ngModel)]= "num_entrada"><br> <br>
        <button class="button"> <a style="text-decoration: none; color: white;" routerLink="/multiplicar/{{num_entrada}}">Mostrar la tabla de multiplicacion a traves del router link</a> </button><br> <br>
        <button  class="button" (click)="navegarHacia(num_entrada)">Mostrar tabla de multiplicar a traves del modulo router</button>         
    </div>
  
</div>

