<div style="margin: 40px;" class="jumbotron">
    <div class="container">
        <h1 style="font-family: 'Oi', cursive;" class="display-3">Bienvenido a mi pagina web</h1>
        <p style="font-family: 'Akaya Telivigala', cursive;" class="lead">En ella encontraras diferentes componentes y funciones</p>
        <hr class="my-2">
        <p>More info</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" routerLink="/about" role="button">About</a>
    </p>        
    </div>    
</div>
<div style="margin: 40px;" class="card ">
    <div style="background-color: lightsalmon;" class="card-header">
      <h1 style="text-align: center;">Primeros Ejemplos</h1>
    </div>
    <div class="card-body">
        <div class="container">
            <label style="font-size: 35px;" ><b>Escribe aqui: </b></label><br>
            <input type="text" [(ngModel)]="variable"><br> <br>
            <div class="alert alert-warning" role="alert"> 
                <h3>{{variable}}</h3>
            </div> <hr> <br>
            <label style="font-size: 35px;" ><b>Escribe dos numeros: </b></label><br>            
            <input type="number"[(ngModel)]="x">
            <input type="number"[(ngModel)]="y"> <br><br>
            <div class="alert alert-warning" role="alert"> 
                <h3>{{x+y}}</h3>
                <p *ngIf="x==0">el numero1 es un 0</p>
                <p *ngIf="y==0">el numero2 es un 0</p>
            </div> <hr><br>
            <label style="font-size: 35px;" ><b>Listados</b></label><br>
            <ul>
                <li *ngFor="let letra of letras" >{{letra}}</li>
            </ul>
            <ul>
                <li (click)="nombreSeleccionado(usuario)" *ngFor="let usuario of usuarios" >{{usuario.nombre + " " + usuario.apellido}}</li>
            </ul>
            <div *ngIf='activado' class="alert alert-info" role="alert">
                <h3>{{usuarioSeleccionado}}</h3>
            </div>
          
        </div> 
      
    </div>  
</div>
   


