<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Jumbo heading</h1>
        <p class="lead">Jumbo helper text</p>
        <hr class="my-2">
        <p>More info</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" routerLink="/about" role="button">About</a>
    </p>        
    </div>
    <div class="container">
        <input type="text" [(ngModel)]="variable">
        <h3>{{variable}}</h3>
        <input type="number"[(ngModel)]="x">
        <input type="number"[(ngModel)]="y">
        <h3>{{x+y}}</h3>
        <p *ngIf="x==0">el numero1 es un 0</p>
        <p *ngIf="y==0">el numero2 es un 0</p>
        <ul>
            <li *ngFor="let letra of letras" >{{letra}}</li>
        </ul>
        <ul>
            <li (click)="nombreSeleccionado(usuario)" *ngFor="let usuario of usuarios" >{{usuario.nombre + " " + usuario.apellido}}</li>
        </ul>
        <h3>{{usuarioSeleccionado}}</h3>
    </div>
    
</div>
<ul>
    <li (click)="nombreSeleccionado(usuario)" *ngFor="let usuario of usuarios2" >{{usuario.nombre + " " + usuario.apellido}}</li>
</ul>
