<form [formGroup]="formRegister" (submit)="evaluaForm()">
    <input type="text" formControlName="nombre" placeholder="nombre">
    <input type="text" formControlName="apellidos" placeholder="apellidos">
    <input type="text" formControlName="password" placeholder="contraseña">
    <input type="text" formControlName="password2" placeholder="vuelve a escribir la contraseña">
    <input type="text" formControlName="email" placeholder="email">
    <input type="text" formControlName="dni" placeholder="dni">
    <input type="number" formControlName="telefono" placeholder="telefono">
    <button type="submit" [disabled]="!formRegister.valid">Registrar</button>
</form> 
<form [formGroup]="formRegister2" (submit)="evaluaForm()">
    <input type="text" formControlName="nombre" placeholder="nombre">
    <input type="text" formControlName="apellidos" placeholder="apellidos">
    <input type="text" formControlName="password" placeholder="password">
    <input type="text" formControlName="email" placeholder="email">
    <input type="text" formControlName="dni" placeholder="dni">
    <input type="number" formControlName="telefono" placeholder="telefono">
    <button type="submit" [disabled]="!formRegister2.valid">Registrar</button>
</form> 
{{nombre1.errors |json}}
<div *ngIf = "nombre1.invalid && (nombre1.dirty || nombre1.touched)" class="alert alert-danger">
    <div *ngIf="nombre1.errors.required"><p>El nombre es requerido</p></div>
    <div *ngIf="nombre1.errors.minlength"><p>nombre tiene que tener al menos 4 caracteres</p></div>
</div>
<div *ngIf = "apellidos1.invalid && (apellidos1.dirty || apellidos1.touched)" class="alert alert-danger">
    <div *ngIf="apellidos1.errors.required"><p>el apellido es requerido</p></div>
    <div *ngIf="apellidos1.errors.minlength"><p>el apellido tiene que tener al menos 4 caracteres</p></div>
</div>
<div *ngIf = "email1.invalid && email1.touched" class="alert alert-danger">
    <div *ngIf="email1.errors.required"><p>El email es requerido</p></div>
    <div *ngIf="email1.errors.email"><p>Revisa tu email</p></div>
</div>
<div *ngIf = "password1.invalid && (password1.dirty || password1.touched)" class="alert alert-danger">
    <div *ngIf="password1.errors.required"><p>la contraseña es requerida</p></div>
    <div *ngIf="password1.errors.minlength"><p>La contraseña debe tener 8 caracteres</p></div>
</div>
<div *ngIf = "password2.invalid && (password2.dirty || password2.touched)" class="alert alert-danger">
    <div *ngIf="password2.errors.required"><p>la contraseña es requerida</p></div>
    <div *ngIf="password2.errors.minlength"><p>La contraseña debe tener 8 caracteres</p></div>
    <div *ngIf="password2!==password1"><p>La contraseña deben ser iguals</p></div>
</div>
<div *ngIf = "telefono1.invalid  && (telefono1.dirty || telefono1.touched)" class="alert alert-danger">
    <div *ngIf="telefono1.errors"><p>el telefono esta mal</p></div>
</div>
<div *ngIf = "dni1.invalid  && (dni1.dirty || dni1.touched)" class="alert alert-danger">
    <div *ngIf="dni1.errors"><p>el el dni esta mal</p></div>
</div>


