    <div id="titulo">
        <h1>Registro</h1>
    </div>
    <div class="alert alert-danger m-n2" role="alert" *ngIf="mensaje && !formRegistro.untouched && !activado && formRegistro.valid">
        <strong>{{mensaje}}</strong>
    </div>

    <form [formGroup]="formRegistro" (submit)="enviar()">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input  class="form-control" type="text" formControlName="nombre" placeholder="nombre">
        </div>
        <div class="form-group">
            <label for="apellidos">Apellidos</label>
            <input  class="form-control" type="text" formControlName="apellidos" placeholder="apellidos">
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input  class="form-control" type="password" formControlName="password" placeholder="password">
        </div>
        <div class="form-group">
            <label for="password2">Repite la contraseña</label>
            <input  class="form-control" type="password" formControlName="password2" placeholder="password2">         
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input  class="form-control" type="text" formControlName="email" placeholder="email">                  
        </div>
        <div class="form-group">
            <label for="dni">Dni</label>
            <input  class="form-control" type="text" formControlName="dni" placeholder="dni">                
        </div>
        <div class="form-group">
            <label for="telefono">Telefono</label>
            <input  class="form-control" type="number" formControlName="telefono" placeholder="telefono">                 
        </div>
        <button type="submit" [disabled]="!formRegistro.valid">Registrar</button>
      </form>
    
    
  
       