    <div id="titulo">
        <h1>Registro</h1>
    </div>
    <div class="alert alert-danger m-n2" role="alert" *ngIf="mensaje && !formRegister.untouched && !activado && formRegister.valid">
        <strong>{{mensaje}}</strong>
      </div>
    <div *ngIf = "nombre1.invalid && (nombre1.dirty || nombre1.touched)" class="alert alert-danger">
        <div *ngIf="nombre1.errors.required"><p>El nombre es requerido</p></div>
        <div *ngIf="nombre1.errors.minlength"><p>nombre tiene que tener al menos 4 caracteres</p></div>
    </div>
    <div *ngIf = "apellidos1.invalid && (apellidos1.dirty || apellidos1.touched)" class="alert alert-danger">
        <div *ngIf="apellidos1.errors.required"><p>el apellido es requerido</p></div>
        <div *ngIf="apellidos1.errors.minlength"><p>el apellido tiene que tener al menos 4 caracteres</p></div>
    </div>
    <div *ngIf = "email1.invalid && email1.touched" class="alert alert-danger">
        <div *ngIf="email1.errors.required"><p>El email es requerido</p></div>
        <div *ngIf="email1.errors.email"><p>Revisa tu email</p></div>
    </div>
    <div *ngIf = "password1.invalid && (password1.dirty || password1.touched)" class="alert alert-danger">
        <div *ngIf="password1.errors.required"><p>la contraseña es requerida</p></div>
        <div *ngIf="password1.errors.minlength"><p>La contraseña debe tener 8 caracteres</p></div>
    </div>
    
    <div *ngIf = "telefono1.invalid  && (telefono1.dirty || telefono1.touched)" class="alert alert-danger">
        <div *ngIf="telefono1.errors"><p>el telefono esta mal</p></div>
    </div>
    <div *ngIf = "dni1.invalid  && (dni1.dirty || dni1.touched)" class="alert alert-danger">
        <div *ngIf="dni1.errors"><p>el el dni esta mal</p></div>
    </div>
     
    
    <form [formGroup]="formRegister" (submit)="submit()">
        <label for="nombre">Nombre</label><input type="text" formControlName="nombre" placeholder="nombre">
        <label for="apellidos">Apellidos</label><input type="text" formControlName="apellidos" placeholder="apellidos">
        <label for="password">Contraseña</label><input type="password" formControlName="password" placeholder="password">
        <label for="password2">Repite la contraseña</label><input type="password" formControlName="password2" placeholder="password2">
        <label for="email">Email</label><input type="text" formControlName="email" placeholder="email">
        <label for="dni">Dni</label><input type="text" formControlName="dni" placeholder="dni">
        <label for="telefono">Telefono</label><input type="number" formControlName="telefono" placeholder="telefono">
        <button type="submit" [disabled]="!formRegister.valid">Registrar</button>
    </form> 
    
       




	


