
form{
	width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
    background-color:cornflowerblue;
    transform: translate(10%, 10%);
    border-radius: 20px;
}

form label{
	width:85px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}
#titulo{
    text-align: center;
	transform: translate(2%, 2%);
	margin: 40px;
	color: red;
	border: 2px solid red;
	background-color: skyblue;
	padding: 25px;
 
    
}



