<div style="margin: 40px;" class="card ">
    <div style="background-color: lightsalmon;" class="card-header">
      <h1 style="text-align: center">ARTICULOS</h1>
    </div>
    <div class="card-body">
        <div *ngIf='activado && mensaje!=null' class="alert alert-primary" role="alert">
            {{mensaje}}
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1"><b>Nombre del articulo </b></label>
            <input type="text" class="form-control"  placeholder="Nombre del articulo" [(ngModel)] = "articuloNuevo.nombre"> 
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1" > <b> Precio del articulo</b></label>
            <input type="number" class="form-control"  placeholder="precio del articulo" [(ngModel)] = "articuloNuevo.precio">        
        </div>      
        <div class="form-group">
            <label for="exampleFormControlTextarea1"> <b> Descripcion del articulo</b></label>
            <textarea class="form-control"   placeholder="descripcion del articulo" [(ngModel)] = "articuloNuevo.descripcion"  rows="3"></textarea>
        </div>
        <button class="button" (click)="insertarArticulo()">Insertar Articulo</button> 

            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let articulo of articulos" (click) = "articuloSeleccionado=articulo">
                        <td>{{articulo.nombre}}</td>
                        <td>{{articulo.descripcion}}</td>
                        <td>{{articulo.precio}}</td>
                    </tr>
                
                </tbody>
            </table><br>
            
                
        <br><br>
        <input type="text" placeholder="Nombre del articulo" [(ngModel)] = "articuloSeleccionado.nombre"> 
        <input type="text" placeholder="descripcion del articulo" [(ngModel)] = "articuloSeleccionado.descripcion"> 
        <input type="number" placeholder="precio del articulo" [(ngModel)] = "articuloSeleccionado.precio"> 
        <button class="button" (click)="editarArticulo(articuloSeleccionado)">Editar Articulo</button>
        <button class="button" (click)="borrarArticulo(articuloSeleccionado)">Borrar Articulo</button>
                
    </div>  
</div>

