<div style="margin: 40px;" class="card">
    <div style="background-color: lightsalmon;" class="card-header">
      <h1 style="text-align: center;">Estructuras de control con IfElse</h1>
    </div>
    <div class="card-body">
        <label for="verdad">
            <input type="checkbox" id="verdad"[(ngModel)]= "verdad">
        </label>
        <h5> {{verdad? "es verdad" : "Es mentira"}} con Ternario</h5>
        <h5 *ngIf = "verdad;else mentira" >Es verdad con *ngIf</h5>
        <ng-template #mentira> <h5>Es mentira con *ngIf</h5></ng-template>
        <hr>
        <label style="padding: 5px;" for="edad">Introduce tu edad: </label>
        <input type="number" id="edad" [(ngModel)]="edad"> <br>        
        <h4 style="font-family: 'Libre Baskerville', serif;">If-ELSE con SugarCandy</h4>
        <div class="alert alert-warning" role="alert">
            <h5 *ngIf="edad<18;else adulto">Es menor de 18 años</h5>
            <ng-template #adulto>
                <ng-container *ngIf = "edad<30;else mayor30"><h5>Es menor de 30 años</h5></ng-container>
            </ng-template>
            <ng-template #mayor30><h5>Es mayor de 30 años</h5></ng-template>            
        </div>
        <hr>
        <h4 style="font-family: 'Libre Baskerville', serif;">If-ELSE con microsintaxis</h4>
        <div class="alert alert-warning" role="alert">
            <ng-template [ngIf]="edad<18"[ngIfElse]= "adulto2"><h5>Es menor de 18 años</h5></ng-template>
            <ng-template #adulto2>
                <ng-template [ngIf] = "edad<30" [ngIfElse]="mayor30_2"><h5>Es menor de 30 años</h5></ng-template>
            </ng-template>
            <ng-template #mayor30_2><h5>Es mayor de 30 años</h5></ng-template>                    
        </div>        
    </div>  
</div>

<div style="margin: 40px;" class="card">
    <div class="card-header">
      <h1 style="text-align: center; background-color: lightsalmon;">Estructura For Avanzada</h1>
    </div>
    <div class="card-body">      

    <ul>
        <li *ngFor = "let numero of [0,11,22,33,44,55]; let indice=index; let impar=odd; let primero=first; let ultimo=last; let cuenta=count;"
        [ngClass]="{'text-danger':impar, 'bg-primary':primero}" (click)=muestraLog(indice,impar,primero,ultimo)>
            En la posicion {{indice}} de {{cuenta-1}}, que es {{impar? "impar":"par"}}  , esta el numero {{numero}}
            {{primero? "que es el pimer elemento del array":""}}{{ultimo? "que es el ultimo elemento del array":""}}
        </li>
    </ul>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Posicion</th>
                <th>Par/Impar</th>
                <th>Numero</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let numero of [0,11,22,33,44,55]; let indice=index; let impar=odd; let primero=first; let ultimo=last; let cuenta=count;"
            [ngClass]="{'text-danger':impar, 'bg-primary':primero}">            
                <td>{{indice}}</td>
                <td>{{impar? 'impar':'par'}}</td>
                <td>{{numero}}</td>
            </tr>   
        </tbody>
    </table>
    <hr>
    <h4>Calculadora</h4>
    <p>Introduce dos numeros</p>
    <input type="number" name="num1" placeholder="numero 1" [(ngModel)]=num1>
    <input type="number" name="num2" placeholder="numero 2" [(ngModel)]=num2> 
    <select [(ngModel)] = "operador">
        <option *ngFor="let operacion of operaciones" [value]="operacion">{{operacion}}</option>
    </select> <br><br>
    <div [ngSwitch]="operador">        
        <span *ngSwitchCase = '"sumar"'>
            <div class="alert alert-success" role="alert">
                {{num1+num2}}
            </div>           
        </span>
        <span *ngSwitchCase = '"restar"'>
            <div class="alert alert-success" role="alert">
                {{num1-num2}}
            </div>  
        </span>
        <span *ngSwitchCase = '"multiplicar"'>
            <div class="alert alert-success" role="alert">
                {{num1*num2}}
            </div>  
        </span>
        <span *ngSwitchCase = '"dividir"'>
            <div class="alert alert-success" role="alert">
                {{num1/num2}}
            </div>       
        </span>
        <span *ngSwitchDefault>
            <div class="alert alert-danger" role="alert">
                Selecciona una operacion
            </div>            
        </span>
    </div>         
    </div>  
</div>








