<h5>Estructuras de control con IfElse</h5>
<label for="verdad">
    <input type="checkbox" id="verdad"[(ngModel)]= "verdad">
</label>
<h5> {{verdad? "es verdad" : "Es mentira"}} con Ternario</h5>
<hr>
<h5 *ngIf = "verdad;else mentira" >Es verdad con *ngIf</h5>
<ng-template #mentira> <h5>Es mentira con *ngIf</h5></ng-template>
<hr>
<label for="edad">
    <input type="number" id="edad" [(ngModel)]="edad">
</label>
<p>If-ELSE con SugarCandy</p>
<h5 *ngIf="edad<18;else adulto">Es menor de 18 años</h5>
<ng-template #adulto>
    <ng-container *ngIf = "edad<30;else mayor30"><h5>Es menor de 30 años</h5></ng-container>
</ng-template>
<ng-template #mayor30><h5>Es mayor de 30 años</h5></ng-template>
<p>If-ELSE con microsintaxis</p>
<ng-template [ngIf]="edad<18"[ngIfElse]= "adulto2"><h5>Es menor de 18 años</h5></ng-template>
<ng-template #adulto2>
    <ng-template [ngIf] = "edad<30" [ngIfElse]="mayor30_2"><h5>Es menor de 30 años</h5></ng-template>
</ng-template>
<ng-template #mayor30_2><h5>Es mayor de 30 años</h5></ng-template>
<br>
<hr>
<p>Estructura For Avanzada</p>
<ul>
    <li *ngFor = "let numero of [0,11,22,33,44,55]; let indice=index; let impar=odd; let primero=first; let ultimo=last; let cuenta=count;"
     [ngClass]="{'text-danger':impar, 'bg-primary':primero}" (click)=muestraLog(indice,impar,primero,ultimo)>
        En la posicion {{indice}} de {{cuenta-1}}, que es {{impar? "impar":"par"}}  , esta el numero {{numero}}
        {{primero? "que es el pimer elemento del array":""}}{{ultimo? "que es el ultimo elemento del array":""}}
    </li>
</ul>



