.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: red;
    background-color:cornflowerblue;
    border: none;
    border-radius: 10px;
    font-family: 'Fjalla One', sans-serif;
  }
  
  .button:hover {background-color:darkblue}
  .card-header{
    font-family: 'Stick', sans-serif;
  }
  b{
    font-family: 'Akaya Kanadaka', cursive;
  }